@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #0b77e2;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.fluid{
    width: 100% !important;
}
.marginTopSmall{
    margin-top: 23px;
}
.text-right{
    text-align: right;
}

.adress-detail{
    font-size: 10px;
    display: block;
    font-weight: bold;
}
.adress-title{
    color: #565656;
}

.adress-container{
    padding: 10px;
}
.link{
    color: rgb(15, 118, 197);
    margin-right: 10px;
}